In [69]:
cd ~/desktop/kaggle_data/

/Users/Bruce/Desktop/kaggle/data

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [71]:
trainData = pd.read_csv("train.csv",header=False,parse_dates=['Dates'])
#testData =  pd.read_csv("test.csv",header=False,parse_dates=['Dates'])

In [72]:
def feature_engineering(data):
    data['Day'] = data['Dates'].dt.day
    data['Month'] = data['Dates'].dt.month
    data['Year'] = data['Dates'].dt.year
    data['Hour'] = data['Dates'].dt.hour
    data['Minute'] = data['Dates'].dt.minute
    data['DayOfWeek'] = data['Dates'].dt.dayofweek
    data['WeekOfYear'] = data['Dates'].dt.weekofyear
    enc = LabelEncoder()
    data['PdDistrict_number'] = enc.fit_transform(data['PdDistrict']) # transform district name to numbers
    enc_cat = LabelEncoder()
    enc_cat.fit(data['Category'])
    data['Category_number'] = enc_cat.transform(data['Category'])
    #data['Category_number'] = enc.fit_transform(data['Category']) # transform crime category
    
    return data

In [74]:
trainData = feature_engineering(trainData)

In [73]:
#testData = feature_engineering(testData)

In [65]:
trainData.head(5)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Day,Month,Year,Hour,Minute,WeekOfYear,PdDistrict_number,Category_number
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,2,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,13,5,2015,23,53,20,4,37
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,2,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,13,5,2015,23,53,20,4,21
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,2,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,13,5,2015,23,33,20,4,21
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,2,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,13,5,2015,23,30,20,4,16
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,2,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,13,5,2015,23,30,20,5,16

In [67]:
trainData['Category_number']

pandas.core.series.Series